* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: #5a5957;
}

/* TOPO */
.topo {
    width: 100%;
    position: fixed;
    background-color: #fff;
}

.limitador {
    max-width: 1024px;    
    margin: 0 auto;
}

.container-topo {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link-logo-topo {
    font-size: 28px;
}

.link-logo-topo a {
    color: black;
}

.link-logo-topo span {
    color: #788bab;
}

.link-navegacao-topo {
    max-width: 250px;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.link-navegacao-topo a {
    color: black;
}
/* TOPO */

/* CONTEÚDO */
.conteudo {
    padding: 50px 0px;
}

.conteudo-1 {
    height: 500px;
    background-image: url("../Imagens/fundo.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
}

.chamada-1 {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(53, 148, 119, 0.7);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.chamada-1 h1 {
    font-size: 40px;
    color: #fff;
}

.chamada-1 p {
    color: #fff;
    font-size: 20px;
}

.chamada-fundo-branco {
    margin: auto;
    padding: 25px 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;
    flex: 1 1 60%;
}

.chamada-fundo-branco h3 {
    padding: 50px 20px 10px;
    font-size: 28px;
    font-weight: normal;
}

.container-quartos {
    display: flex;
    flex-flow: row wrap;
}

.quartos {
    flex: 1 0 150px;
}

.quartos-imagem img {
    width: 100%;
    height: 100%;
}

.quartos a {
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #42776f;
}

.mapa {
    max-width: 1920px;
    height: 500px;
    margin: 0 auto;
    display: flex;
       
}

.mapa iframe {    
    width: 100%;
    height: 100%;
}
.container-sobre {
    display: flex;
    flex-flow: row wrap;
}

.sobre-descricao {
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex: 1 1 400px;
    gap: 30px;
}

.descricao {
    flex: 1 1 250px;
}

.descricao h4 {
    padding: 5px 0;
}

.descricao p {
    padding: 5px 2px 5px 0;
    font-size: 14px;
}

.imagem-descricao {
    width: 90px;
    height: 100px;
}

.imagem-descricao img {
    width: 100%;
    height: 100%;
}
/* CONTEÚDO */

/* RODAPÉ */
.rodape {
    max-height: 800px;
    background-color: #49997c;
    display: flex;
    flex-wrap: wrap;    
}

.container-rodape {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contatos-rodape {
    padding: 30px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px; 
    border-bottom: 2px solid #3f8e71;
}

.caixa-rodape {
    display: flex;
    flex: 1 1 230px;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.caixa-rodape h4 {
    font-size: 20px;
    color: #fff;
}

.rodape-imagem {
    width: 40px;
}

.rodape-imagem img {
    width: 100%;
    height: 100%;
}

.rodape-texto {
    font-size: 15px;
    width: 180px;
}

.rodape-texto p {
    color: #fff;
}

.rodape-texto a {
    color: #fff;
}

.rodape-final {
    font-weight: bold;
    padding: 30px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.rodape-final p {
    color: #fff;
}
/* RODAPÉ */
