* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    color: #5a5957;
}

/* TOPO */
.topo {
    width: 100%;
    position: fixed;
    background-color: #fff;
}

.limitador {
    max-width: 1024px;    
    margin: 0 auto;
}

.container-topo {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link-logo-topo {
    font-size: 28px;
}

.link-logo-topo a {
    color: black;
}

.link-logo-topo span {
    color: #788bab;
}

.link-navegacao-topo {
    max-width: 250px;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.link-navegacao-topo a {
    color: black;
}
/* TOPO */

/* CONTEÚDO */
.imagem-fundo {
    height: 350px;
    background-image: url(../Imagens/fundo.jpg);
    background-size: cover;
}

.chamada-fundo-branco {
    margin: auto;
    padding: 25px 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;
    flex: 1 1 60%;
}

.chamada-fundo-branco h2 {
    padding: 50px 20px 10px;
    font-size: 28px;
    font-weight: normal;
}

.container-imagens {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.imagem-quarto {
    width: 330px;
    height: 200px;
}

.imagem-quarto img {
    width: 100%;
    height: 100%;    
}

.container-informacoes {
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.container-informacoes h3 {
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

.lista-quarto {
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}

.tabela {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.linhas {
    width: 200px;
    flex-wrap: nowrap;
    gap: 20px;
}

/* CONTEÚDO*/

/* RODAPÉ */
.rodape {
    max-height: 800px;
    background-color: #49997c;
    display: flex;
    flex-wrap: wrap;    
}

.container-rodape {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contatos-rodape {
    padding: 30px 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px; 
    border-bottom: 2px solid #3f8e71;
}

.caixa-rodape {
    display: flex;
    flex: 1 1 230px;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}

.caixa-rodape h4 {
    font-size: 20px;
    color: #fff;
}

.rodape-imagem {
    width: 40px;
}

.rodape-imagem img {
    width: 100%;
    height: 100%;
}

.rodape-texto {
    font-size: 15px;
    width: 180px;
}

.rodape-texto p {
    color: #fff;
}

.rodape-texto a {
    color: #fff;
}

.rodape-final {
    font-weight: bold;
    padding: 30px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.rodape-final p {
    color: #fff;
}
/* RODAPÉ */
